@import './base.css';


body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointer{
  cursor: pointer;
}

#app {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  box-sizing: border-box;
}

.overlay{
  position: fixed;
  background-color: #080808e2;
  opacity: 0.8;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
}

.btn {
  padding: 8px 12px;
  color: #ffffff;
  border-radius: 8px;
  border: 1px solid transparent;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.btn-disable{
  background: #a3e0d6 !important;
  cursor: not-allowed !important;
}

.btn-primary {
  background: #00c5a4;
}

.btn-primary:hover {
  background: #2bfedb;
}

.btn-secondary {
  background: #069981;
}

.btn-secondary:hover {
  background: #2bfedb;
}

.text-xl {
  font-size: 22px;
}

.text-lg {
  font-size: 18px;
}

.text-md {
  font-size: 16px;
}

.text-sm {
  font-size: 14px;
}

.font-bold {
  font-weight: 700;
}

.mt-3 {
  margin-top: 12px;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.w-100 {
  width: 100%;
}

.main-container {
  width: 80vw;
  height: 70vh;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 4px #82818140;
  padding: 40px;
}


a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

p,
label,
th,
td,
.base-color {
  margin: 0;
  padding: 0;
  color: #181818;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}