@import './base.css';


body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  box-sizing: border-box;
}

.text-xl{
  font-size: 22px;
}

.text-lg{
  font-size: 18px;
}

.text-md{
  font-size: 16px;
}

.text-sm{
  font-size: 14px;
}

.font-bold{
  font-weight: 700;
}

.mt-3 {
  margin-top: 12px;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.w-100 {
  width: 100%;
}

.main-container {
  width: 80vw;
  height: 70vh;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 4px #82818140;
  padding: 20px;
}


a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

p,
label,
th,
td,
.base-color {
  margin: 0;
  padding: 0;
  color: #181818;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}